.home .after-banner {
    margin: 75px auto 0;
    border-radius: 30px;
    width: 1030px;
    height: 180px;
    background: linear-gradient(to right, #6ac1c1, #226e6e, #6ac1c1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.home .goals {
    padding-top: 10px;
    max-width: 900px;
    margin: 0 auto;
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    gap: 80px;
    text-align: center;
}

.home .quote {
    padding: 10px;
    border-radius: 20px;
    margin: 0 auto;
    width: 800px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background-color: #d9ece6;
}

.quote .blog .banner-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.blog .banner-content span {
    margin-top: 60px;
    font-size: 20px;
}

.blog .banner-content p {
    font-size: 96px;
    color: white;
}

.rectangle {
    background-color: #e7e3e3;
    height: 262px;
}

.below-banner {
    height: 261px;
    background-color: white;
    position: relative;
    top: -51px;
    display: flex;
    align-items: center;
}

.rectangle .row {
    display: flex;
    gap: 40px;
}

.rectangle .trending-txt {
    transform: rotate(-90deg);
    font-size: 20px;
    white-space: nowrap;
    height: 20px;
}

.rectangle .col {
    display: flex;
    align-items: center;
}

.rectangle .col p {
    font-size: 24px;
}

.rectangle .col div {
    margin-left: 30px;
}

.rectangle .col div span {
    position: relative;
    top: 20px;
    white-space: nowrap;
}

.blog .latest-span {
    margin: 40px 0;
    font-size: 20px;
}

.blog .blog-start .row {
    display: flex;
    gap: 20px;
}

.blog .blog-start .row p {
    font-size: 20px;
    font-weight: 700;
}

.blog .blog-start .row .col .row div {
    display: flex;
    gap: 110px;
    flex-direction: column;
    margin-top: 20px;
}

.blog .blog-second .row {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.blog .blog-second .row .col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.blog .blog-second .row .col2 {
    margin-top: 80px;
}

.blog .blog-second p {
    font-size: 24px;
    font-weight: 700;
}

.blog .blog-second span {
    font-size: 20px;
}

.blog .blog-third {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.blog .blog-third .col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.blog .p-blog-third {
    font-size: 24px;
    margin: 50px 0;
}

.blog .blog-third span {
    font-style: 20px;
    font-weight: 600;
}

.blog .blog-fourth {
    background-color: #d9d9d9;
    height: 374px;
}

.blog .blog-fourth {
    display: flex;
    align-items: center;
}

.blog .blog-fourth .container {
    display: flex;
    gap: 30px;
}

.blog .blog-fourth .container .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.blog .p-blog-fourth {
    font-size: 24px;
    margin: 40px 0 40px 160px;
}

.about-us {
    margin-top: 50px;
}

.about-us .start {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: bold;
}

.about-us .start span {
    font-size: 32px;
}

.about-us .start .b {
    color: #9a6262;
}

.about-us .start .join-us {
    padding: 5px 0 0 15px;
    background-color: #57a0a0;
    color: white;
    font-weight: 700;
    width: 143px;
    border-radius: 55px;
}

.about-us .about-para {
    background-color: #57a0a0;
    border-radius: 246px 246px 0 0;
    height: 600px;
    margin-top: 50px;
    color: white;
}

.about-us .about-para h2 {
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
}

.about-us .about-para p {
    margin-top: 20px;
}

.about-us .mission h2 {
    text-align: center;
    margin-top: 50px;
    font-style: 36px;
    color: #57a0a0;
    font-weight: bold;
}

.about-us .mission .contents {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 34px;
}

.about-us .mission .contents .section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f5e1e1;
    height: 250px;
    width: 250px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
}

.about-us .mission .contents .section span {
    color: #57a0a0;
    font-weight: 700;
}

.about-us .mission .contents .section p {
    width: 150px;
}
