.macro-nutrient {
    margin-top: 40px;
    margin-bottom: 40px;
}

.macro-nutrient .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.macro-nutrient h1 {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.macro-nutrient h1::before {
    content: '';
    display: block;
    width: 400px;
    height: 10px;
    background-color: #bef3fa;
    top: 0;
    border-radius: 10px;
    margin-bottom: 26px;
}

.macro-nutrient .quote {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    opacity: 60%;
}

.macro-nutrient .row {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.macro-nutrient .calculation .row div {
    display: flex;
    flex-direction: column;
}

.macro-nutrient .calculation {
    background-color: #bef3fa;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.macro-nutrient input {
    width: 220px;
    height: 60px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
    box-shadow: 0 10px 20px 0px rgba(177, 169, 169, 0.5);
    margin-top: 10px;
}

.macro-nutrient button {
    margin-top: 35px;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #5b5bdd;
    font-size: 16px;
}

.macro-nutrient .result {
    font-size: 24px;
    font-weight: bold;
}
