.ccal {
    margin-top: 50px;
}

.ccal .container {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

.ccal .cal-head {
    margin: 0 auto;
    font-size: 48px;
}

.ccal .cal-head::before {
    content: '';
    display: block;
    width: 400px;
    height: 10px;
    background-color: #bef3fa;
    top: 0;
    border-radius: 10px;
    margin-bottom: 26px;
}

.ccal .quote {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    opacity: 60%;
}

.ccal .row {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.ccal .row .cal-calc {
    border-radius: 20px;
    background-color: #bef3fa;
    padding: 40px;
}

.cal-calc form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cal-calc form .row div {
    display: flex;
    flex-direction: column;
}

.cal-calc .row {
    gap: 40px;
}

.cal-calc input,
.cal-calc select {
    width: 220px;
    height: 60px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
    box-shadow: 0 10px 20px 0px rgba(177, 169, 169, 0.5);
    margin-top: 10px;
}

.cal-calc button {
    margin-top: 35px;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #5b5bdd;
    font-size: 16px;
}
